p.caption {
  color: #777;
  margin-top: 10px;
}

p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

.Shaded {
  background-color:rgb(220, 220, 220);
  /* margin: -10px; */
  padding: 10px;
}
